APP_NAME=Notifications
APP_ENV=local
APP_KEY=base64:Aw1ylbjUbzuEjOvcJ9HQUka0f9RpXe1J8NJGzEeGAzE=
APP_DEBUG=true
APP_URL=http://localhost
SESSION_DOMAIN=localhost
SANCTUM_STATEFUL_DOMAINS=localhost:5173,localhost:3000

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# Основная база данных
DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=notify
DB_USERNAME=notify
DB_PASSWORD=notify
POSTGRES_PORT=5442

# Тестовая база данных
DB_TEST_HOST=db_test
DB_TEST_PORT=5432
DB_TEST_DATABASE=notify_test
DB_TEST_USERNAME=notify
DB_TEST_PASSWORD=notify
POSTGRES_TEST_PORT=5443

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=null

# Kafka
KAFKA_BROKERS=kafka:9092
KAFKA_PORT=9092
KAFKA_EXT_PORT=9093
KAFKA_UI_PORT=8080
KAFKA_CONSUMER_GROUP_ID=notifications-group
KAFKA_AUTO_COMMIT=false
KAFKA_OFFSET_RESET=earliest
KAFKA_CONSUMER_DEFAULT_TIMEOUT=1000
KAFKA_CACHE_DRIVER=redis
KAFKA_DEBUG=false
KAFKA_COMPRESSION_TYPE=snappy
KAFKA_MESSAGE_ID_KEY=message_id
KAFKA_SECURITY_PROTOCOL=PLAINTEXT
KAFKA_SASL_MECHANISMS=PLAIN
KAFKA_SASL_USERNAME=null
KAFKA_SASL_PASSWORD=null
KAFKA_ERROR_SLEEP=5
KAFKA_DLQ_TOPIC=notifications-dlq

# Queue
QUEUE_CONNECTION=redis

# Cache & Session
CACHE_DRIVER=redis
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_COOKIE=search_session

# Drivers
BROADCAST_DRIVER=log
FILESYSTEM_DISK=local
FILESYSTEM_DRIVER=public

# Vite
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
